<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>whatever we like</title>
</head>
<body>
<h1>
    {{pageTitle}}
</h1>
<p>some text</p>

<footer>
    <p>Copyright {{currentYear}}</p>
</footer>
</body>
</html>